<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a target="_blank" class="nav-link" href="">Linkedin</a></li>
        <li><a target="_blank" class="nav-link" href="">Test sub</a></li>
    </ul>
</li>
<li class="dropdown">
        <ul class="dropdown-menu">
            <li><a target="_blank" class="nav-link" href="">Linkedin</a></li>
            <li><a target="_blank" class="nav-link" href="">Test sub</a></li>
        </ul>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
