<!--  Replace menu links here -->

<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li> -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/services.html">Services</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<!-- <li class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blog
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
</li> -->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->