<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="card-img-top mb-5" src="assets/images/service_DS_class.png" alt="數據科學家養成班">
                    <h3>KNIME 數據科學養成班</h3>
                    <p class="text-muted">非技術人員也能輕鬆建立數據自動化流程，從各類常見數據檔案類型如：CSV, Excel, JSON 的讀取，到 ETL 數據清理，以及更進階的 wildcard, regular expression 都包含在課程。</p>
                    <p class="text-muted">學員也可在社群中與同學交流，另外還提供學員預約 office hour 即時解決問題。</p>
                    <p><a href="https://page.cashier.ecpay.com.tw/forms/ap85" class="btn btn-warning d-block mb-2">加入課程</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="card-img-top mb-5" src="assets/images/service_website.png" alt="個人形象網站">
                    <h3>(TODO)建立個人形象網站</h3>
                    <p class="text-muted">運用 GitHub 免費代管，不用買網域不用買機器，就能建立形象網站，就像您現在看到的網站，就是這樣建立的</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="card-img-top mb-5" src="assets/images/service_startup_incubator.jpeg" alt="創業家體驗營">
                    <h3>(TODO)創業家體驗營</h3>
                    <p class="text-muted">創業家心態和自信心建立、最小可行性產品 MVP 腦裡激盪、財務模型分析、產品問世專案管理，都將會是 8 週密集體驗營的主題</p>
                    <p><a href="download link" class="btn btn btn-danger d-block mb-2">(表單預約)我想參加</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<p></p>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="card-img-top mb-5" src="assets/images/service_DS_class.png" alt="數據科學家養成班">
                    <h3>(TODO)GA4 商業分析顧問</h3>
                    <p class="text-muted"> GA 在 2023/07/01 全面更換成 GA4 形式，應映使用者跨裝置和網頁的使用行為，GA 採用全新的數據追蹤方式，更真實的呈現使用者行為、廣告成效</p>
                    <p><a href="{{site.baseurl}}/contact.html" class="btn btn-warning d-block mb-2">預約諮詢</a></p>
                </div>
            </div>
        </div>
    </div>
</section>